---
import { Icon } from "astro-icon/components";
import LayoutBio from "@/layouts/LayoutBio.astro";
import { Version } from "@/components/Version";
import cvData from "@/config/cv.json";

const today = new Date();
const currentYear = today.getFullYear();

const social = cvData.social;
---

<LayoutBio
  title={cvData.basic.name}
  description={cvData.basic.summary}
  image="/profile.jpeg"
>
  <header class="flex flex-col gap-2 items-center justify-center px-8 pt-8">
    <img
      class="rounded-full size-32"
      alt={cvData.basic.name}
      src="http://github.com/Matheus1714.png"
    />
    <p class="text-2xl">{cvData.basic.name}</p>
    <p class="">@{cvData.basic.nickname}</p>
  </header>

  <div class="flex justify-center relative my-8">
    <div class="w-2 h-2 bg-offset rounded-full absolute -translate-y-1/4"></div>
    <div class="w-1/2 md:w-1/4 h-0.5 bg-border rounded-full"></div>
  </div>

  <main class="mx-8 flex flex-col gap-4 text-center">
    <h3 class="text-xl font-semi-bold">Personal</h3>
    <ul class="flex flex-col items-center gap-2">
      <li class="w-full md:w-96">
        <a
          href="/"
          title="Portifolio"
          class="px-10 py-4 text-base text-center
                        font-semibold transition-all duration-200 rounded
                        bg-primary hover:scale-110 focus:bg-secondary text-white
                        flex flex-row gap-2 justify-center items-center relative"
          role="button"
        >
          Portifolio
        </a>
      </li>

      <li class="w-full md:w-96">
        <a
          href={cvData.basic.cv_link}
          title="CV"
          target="_blank"
          class="px-10 py-4 text-base text-center
                        font-semibold transition-all duration-200 rounded
                        bg-primary hover:scale-110 focus:bg-secondary text-white
                        flex flex-row gap-2 justify-center items-center relative"
          role="button"
        >
          CV
        </a>
      </li>
    </ul>

    <h3 class="text-xl font-semi-bold">Social</h3>
    <ul class="flex flex-col items-center gap-2">
      {
        social.map((s) => (
          <li class="w-full md:w-96">
            <a
              href={s.url}
              title={s.title}
              target="_blank"
              class="px-10 py-4 text-base text-center
                            font-semibold transition-all duration-200 rounded
                            bg-primary hover:scale-110 focus:bg-secondary text-white
                            flex flex-row gap-2 justify-center items-center relative"
              role="button"
            >
              <Icon
                size={20}
                name={s.icon}
                class="absolute left-0 translate-x-8"
              />
              {s.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>

  <div class="flex justify-center relative my-8">
    <div class="w-2 h-2 bg-offset rounded-full absolute -translate-y-1/4"></div>
    <div class="w-1/2 md:w-1/4 h-0.5 bg-border rounded-full"></div>
  </div>

  <footer class="flex flex-col gap-4 justify-center items-center pb-8">
    <a
      href="https://github.com/Matheus1714/professional-portifolio/releases/latest"
      class="text-sm px-2 bg-primary rounded-full text-white hover:bg-secondary"
      target="_blank"><Version client:load /></a
    >
    <p class="text-sm">
      © {currentYear}
      {cvData.basic.name}. All Rights Reserved.
    </p>
  </footer>
</LayoutBio>
