---
import { Icon } from "astro-icon/components";
import LayoutBio from "@/layouts/LayoutBio.astro";
import { Version } from "@/components/Version";
import cvData from "@/config/cv.json";

const today = new Date();
const currentYear = today.getFullYear();

const social = cvData.social;
---

<LayoutBio
  title={cvData.basic.name}
  description={cvData.basic.summary}
  image="/profile.jpeg"
>
  <header class="flex flex-col gap-2 items-center justify-center px-8 pt-8">
    <div class="relative flex justify-center group">
      <div
        class="absolute w-32 h-32 bg-secondary rounded-full rotate-6 shadow-2xl group-hover:rotate-3 transition-transform duration-300"
      >
      </div>
      <div
        class="absolute w-32 h-32 bg-primary rounded-full rotate-12 shadow-2xl group-hover:rotate-6 transition-transform duration-300"
      >
      </div>

      <div class="flip-card w-32 h-32 relative">
        <div class="flip-card-inner w-full h-full relative">
          <div
            class="flip-card-front absolute inset-0 flex items-center justify-center rounded-full"
          >
            <img
              class="w-full h-full object-cover rounded-full"
              alt={cvData.basic.name}
              src="http://github.com/matheusmota-dev-br.png"
            />
          </div>
          <div
            class="flip-card-back absolute inset-0 bg-offset flex items-center justify-center text-sm font-bold rounded-full select-none"
          >
            <div class="mx-2 text-center">
              <i class="text-[8px] leading-tight">{cvData.phrase.text}</i>
              <p class="mt-1 text-[6px] leading-tight">{cvData.phrase.author}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="text-2xl">{cvData.basic.name}</p>
    <p class="">@{cvData.basic.nickname}</p>
  </header>

  <div class="flex justify-center relative my-8">
    <div class="w-2 h-2 bg-offset rounded-full absolute -translate-y-1/4"></div>
    <div class="w-1/2 md:w-1/4 h-0.5 bg-border rounded-full"></div>
  </div>

  <main class="mx-8 flex flex-col gap-4 text-center">
    <h3 class="text-xl font-semi-bold">Personal</h3>
    <ul class="flex flex-col items-center gap-2">
      <li class="w-full md:w-96">
        <a
          href="/"
          title="Portifolio"
          class="px-10 py-4 text-base text-center
                        font-semibold transition-all duration-200 rounded
                        bg-primary hover:scale-110 focus:bg-secondary text-white
                        flex flex-row gap-2 justify-center items-center relative"
          role="button"
        >
          Portifolio
        </a>
      </li>

      <li class="w-full md:w-96">
        <a
          href={cvData.basic.cv_link}
          title="CV"
          target="_blank"
          class="px-10 py-4 text-base text-center
                        font-semibold transition-all duration-200 rounded
                        bg-primary hover:scale-110 focus:bg-secondary text-white
                        flex flex-row gap-2 justify-center items-center relative"
          role="button"
        >
          CV
        </a>
      </li>
    </ul>

    <h3 class="text-xl font-semi-bold">Social</h3>
    <ul class="flex flex-col items-center gap-2">
      {
        social.map((s) => (
          <li class="w-full md:w-96">
            <a
              href={s.url}
              title={s.title}
              target="_blank"
              class="px-10 py-4 text-base text-center
                            font-semibold transition-all duration-200 rounded
                            bg-primary hover:scale-110 focus:bg-secondary text-white
                            flex flex-row gap-2 justify-center items-center relative"
              role="button"
            >
              <Icon
                size={20}
                name={s.icon}
                class="absolute left-0 translate-x-8"
              />
              {s.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>

  <div class="flex justify-center relative my-8">
    <div class="w-2 h-2 bg-offset rounded-full absolute -translate-y-1/4"></div>
    <div class="w-1/2 md:w-1/4 h-0.5 bg-border rounded-full"></div>
  </div>

  <footer class="flex flex-col gap-4 justify-center items-center pb-8">
    <a
      href="https://github.com/matheusmota-dev-br/professional-portifolio/releases/latest"
      class="text-sm px-2 bg-primary rounded-full text-white hover:bg-secondary"
      target="_blank"><Version client:load /></a
    >
    <p class="text-sm">
      © {currentYear}
      {cvData.basic.name}. All Rights Reserved.
    </p>
  </footer>
</LayoutBio>

<style>
  .flip-card {
    perspective: 1000px;
  }
  .flip-card-inner {
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  .flip-card:active .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front,
  .flip-card-back {
    backface-visibility: hidden;
  }
  .flip-card-back {
    transform: rotateY(180deg);
  }
</style>
